.login-wrapper{
    width: 50%;
    margin: auto;
}

@media (max-width:700px){
    .login-wrapper{
        width: 80%;
        margin: auto;
    }
}

.add-user{
    display: flex;
    flex-direction: row-reverse;
    margin:10px;
}